.app {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a8a2a2;
  margin: 2rem 10rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.24);
  padding: 2rem;
  text-align: center;
  gap: 1rem;
}
button {
  display: flex;
  flex-wrap: wrap;
  background-color: blueviolet;
  padding: 0.2rem 0.5rem;
  color: white;
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  cursor: pointer;
}
